@import "compass";
@import "compass/reset";

$dark_grey : #363636;
$light_grey : #3B3B3B;

$green : #3A8C7D;
$pink : #E23F8F;

$red : #ED3F36;

*{
  @include box-sizing(border-box);
  outline: none;
}

.clearfix{
  clear: both;
}

header{

  position: absolute;
  top: 0; right: 0; left: 0;
  height: 72px;
  text-align: center;
  line-height: 72px;

  background-color: $dark_grey;

  img{
    height: 35px;
    vertical-align: middle;
  }
}

section.main{
  position: absolute;
  top: 72px; right: 0; bottom: 0; left: 0;

  background-color: $light_grey;
}
